<div class="list-item flex-center">
    <div class="display-panel" style="display: flex">
        <span class="item-label"><%= data %></span>
        <span class="edit-btn">E</span>
    </div>

    <div class="edit-panel" style="display: none">
        <input type="text" class="item-label" value="<%= data %>"/>
        <span class="confirm-btn">O</span>
        <span class="delete-btn">X</span>
        <span class="edit-btn">C</span>
    </div>
</div>