// color palette
@primary-color-heavy: #47b6ed;
@primary-color-medium: #a8dbf5;
@primary-color-light: #e0f5ff;

// font sizes
@font-size-large: 24px;
@font-size-small: 18px;

// margin sizes
@margin-large: 20px;
@margin-small: 5px;
@margin-rounded: 5px;
@button-height: 50px;

// TODO: fix css size values

// basic styles and utility classes
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    all: unset;
    border-radius: @margin-rounded;
}

.small-btn {
    background-color: @primary-color-heavy;
    height: @button-height;
    width: 150px;
    font-size: @font-size-small;;
}

.list-item {
    background-color: @primary-color-light;
    height: @button-height;
    width: 100%;
}

.label {
    font-size: @font-size-large;
    text-align: center;
    padding: @margin-small;
}


// specific css
#clock {
    background-color: @primary-color-medium;
    font-size: @font-size-large;
    padding: auto;
    height: 150px;
    width: 150px;
}

nav {
    &:extend(.flex-center);
    * > li {
        all: unset;
        margin: @margin-large;
        a {
            all: unset;
        }
    }
}

#task {
    width: 500px;
    ul {
        list-style-type: none;
        margin: 0px;
    }
    .task-label {
        font-size: @font-size-small;
    }
}

// delete this later after figuring out the flex/grid stuff
.add-btn {
    width: 500px;
}