body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.flex-center,
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  all: unset;
  border-radius: 5px;
}
.small-btn {
  background-color: #47b6ed;
  height: 50px;
  width: 150px;
  font-size: 18px;
}
.small-square-btn,
.list-item .delete-btn,
.list-item .edit-btn,
.list-item .confirm-btn {
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  background-color: #a8dbf5;
  display: inline-block;
}
.label {
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
#clock {
  background-color: #a8dbf5;
  font-size: 24px;
  padding: auto;
  height: 150px;
  width: 150px;
}
nav * > li {
  all: unset;
  padding: 20px;
}
nav * > li a {
  all: unset;
}
#task {
  width: 300px;
}
#task ul {
  list-style-type: none;
  margin: 0px;
}
#task .task-label {
  font-size: 18px;
}
.list-item {
  background-color: #e0f5ff;
  height: 50px;
  width: 100%;
}
.list-item .display-panel,
.list-item .edit-panel {
  overflow: none;
  height: 50px;
  width: 100%;
}
.list-item .item-label,
.list-item .edit-item-label {
  padding: 0px 5px;
  line-height: 50px;
  width: 10px;
  flex-grow: 1;
}
.list-item .delete-btn,
.list-item .edit-btn,
.list-item .confirm-btn {
  justify-content: flex-end;
}
.add-btn {
  width: 300px;
}
