@primaryColor: #47b6ed;
@secondaryColor: #c7ebfc;
@large-font-size: 24px;
@small-font-size: 18px;

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.small-btn {
    background-color: @primaryColor;
    height: 50px;
    width: 150px;
    font-size: @small-font-size;
}

#clock {
    background-color: @secondaryColor;
    font-size: @large-font-size;
    padding: auto;
    height: 150px;
    width: 150px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    all: unset;
}