body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  all: unset;
}
.small-btn {
  background-color: #47b6ed;
  height: 50px;
  width: 150px;
  font-size: 18px;
}
#clock {
  background-color: #c7ebfc;
  font-size: 24px;
  padding: auto;
  height: 150px;
  width: 150px;
}
nav * > li {
  all: unset;
  margin: 20px;
}
nav * > li a {
  all: unset;
}
