body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.flex-center,
#clock .small-square-btn,
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  margin: 0px;
}
.btn-size {
  height: 50px;
}
button {
  all: unset;
}
.small-btn {
  background-color: #47b6ed;
  height: 50px;
  width: 150px;
  font-size: 18px;
}
.small-square-btn,
.list-item .delete-btn,
.list-item .edit-btn,
.list-item .confirm-btn {
  text-align: center;
  height: 50px;
  width: 50px;
  background-color: #a8dbf5;
}
.align-center > * {
  align-items: center;
  vertical-align: middle;
}
.inline-block {
  display: inline-block;
}
.label {
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.margin-left {
  margin-left: 5px;
}
#clock {
  width: 300px;
  display: flex;
  flex-direction: column;
}
#clock #timer {
  background-color: #a8dbf5;
  font-size: 24px;
  padding: auto;
  height: 150px;
}
#clock .timer-btns {
  width: inherit;
  display: flex;
}
#clock .small-square-btn {
  background-color: #47b6ed;
  flex-grow: 1;
}
#footer {
  margin: 5px 0px;
}
#footer ul > * {
  all: unset;
  padding: 20px;
}
#task {
  width: fit-content;
}
#task ul {
  list-style-type: none;
  margin: 0px;
}
#task #task-label {
  font-size: 24px;
  width: 300px;
}
.list-item {
  background-color: #e0f5ff;
  height: 50px;
  width: 300px;
}
.list-item .display-panel,
.list-item .edit-panel {
  overflow: none;
  height: 50px;
  width: 100%;
}
.list-item .item-label,
.list-item .edit-item-label {
  padding: 0px 5px;
  line-height: 50px;
  width: 10px;
  flex-grow: 1;
}
.list-item .delete-btn,
.list-item .edit-btn,
.list-item .confirm-btn {
  justify-content: flex-end;
}
#settings {
  margin: 10px;
}
#settings h1 {
  font-size: 24px;
}
#settings h2 {
  font-size: 18px;
  margin-top: 40px;
}
#settings input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
#settings input[type="text"] {
  width: 50px;
  padding: 5px;
  text-align: center;
}
#settings .small-square-btn {
  margin-top: 5px;
}
#settings input {
  margin: 5px;
}
#settings .settings-label {
  margin-right: 10px;
}
.task-marker {
  height: 50px;
}
.task-marker .unset {
  fill: #cccccc;
  color: #cccccc;
}
.task-marker .success {
  fill: #28a745;
  color: #28a745;
}
.task-marker .highlight {
  fill: #ffc107;
  color: #ffc107;
}
.task-marker .danger {
  fill: #dc3545;
  color: #dc3545;
}
.task-marker .task-marker-label {
  margin-left: 5px;
  padding-right: 20px;
}
.chart-container,
.table-container {
  min-height: 300px;
  min-width: 400px;
  max-height: 700px;
  max-width: 800px;
  margin: auto;
}
