/* custom css */

.unset {
  fill: lightgray;
  color: lightgray;
}
.success {
  fill: #28a745;
  color: #28a745;
}
.highlight {
  fill: #ffc107;
  color: #ffc107;
}
.danger {
  fill: #dc3545;
  color: #dc3545;
}

.remove-height {
  height: 0px;
}
